__pycache__/
*.py[cod]
*$py.class
*.so
*.swp
.ruff_cache/
.Python
.venv/
env/
Thumbs.db
*.log
*.egg-info/
.pytest_cache/
.coverage
.cache/
develop-eggs/
dist/
*.egg
.env
htmlcov/
.mypy_cache/
venv/
.eggs/
Desktop.ini
build/
